#root {
  margin: 0 auto;
  text-align: center;
}

.input-wrapper2{
  padding-left: 20rem;
  padding-right: 20rem;
}

.tools{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-area{
  width: 100%;
}

.input-wrapper{
  display: grid;
  grid-template-columns: 6fr 1fr;
  border: 1px solid rgb(126, 123, 123);
}

.input{
  outline: none;
  border: 0px;
  width: 100%;
  padding: 1rem;
  
}

.input:focus{
  outline: none;
  width: 100%;
  border: 0px;
}